# ignore everything in the root except the "wp-content" directory.
!wordpress/wp-content/

# ignore these plugins
wordpress/wp-content/plugins/hello.php

# ignore specific themes
wordpress/wp-content/themes/twenty*/

# ignore node dependency directories
wordpress/node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite