@use "partials/variables";

* {
    box-sizing: border-box;
}

.underline {
    text-decoration: underline;
}

.content {
    padding: 0 5% 4% 5%;

    h2 {
        text-align: center;
        font-size: 3.6vw;
        margin-bottom: 0;
    }

    &__graphs {
        margin-top: 6vw;
        display: flex;
        justify-content: space-around;

        &__graph {
            padding: 2.7vw;
            width: 100%;
            aspect-ratio: 6 / 7;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            align-items: center;
            justify-content: center;
            margin-bottom: 15%;

            img {
                width: 100%;
            }
        }
    }

    &__wrapper {
        font-size: 1.5vw;
        width: 20vw;
    }

    &__produit {
        margin-top: 6vw;
    }
}

.swiper {
    width: 100%;
    margin-top: 6vw;
    margin-bottom: 100px;

    &-slide {
        a {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 28vw;
            text-decoration: none;
            color: inherit;

            img {
                width: 80%;
            }

            .class {
                text-align: center;
                width: 100%;
                bottom: 6%;
                z-index: 2;
                position: absolute;

                h2 {
                    color: #F37364;
                    font-size: 3vw;
                }
            }

            .title {
                font-size: 1.5vw;
                text-align: center;
                width: 100%;
                bottom: 0;
                z-index: 2;
                position: absolute;
            }
        }
    }
}