//couleur

// général
$background: #F9FFF7;
$menu: #b7b3b1;
$backgroundMenu: #c8c0a9;
// palette
$brunFonce: #403834;
$rose: #E7B6A1;
$jaune: #F1EDA2;
$brun: #A07B50;
$vert: #4F7A41;
$orange: #f37364;