@use "partials/variables";

footer {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: static;
    bottom: 0px;
    border: 5px solid red;

    .footer__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-top: 0px;

        .footer__content--form--btn {
            color: white;
            background-color: variables.$vert;
            border: none;
            padding: 5px;
            border-radius: 5px 0px 5px 0px;
        }
    }

    .footer__forme--vert {
        position: relative;
        right: -90vw;
        bottom: 80vh;
    }
    
    .footer__forme--jaune {
        position: relative;
        left: -2vw;
        bottom: 170vh;
    }
    
    .footer__forme--brun {
        position: relative;
        bottom: 250vh;
        left: -10vw;
    }
    
    .footer__forme--arbre--tronc {
        position: relative;
        bottom: 305vh;
        left: 10vw;
    }
    
    .footer__forme--arbre--feuilles {
        position: relative;
        bottom: 355vh;
        left: 7vw;
    }

    .footer__logo {
        position: relative;
        bottom: 390vh;
        left: 80vw;
        width: 20%;
        img {
            width: 100%;
        }
    }
}