@use "partials/variables";
.a_propos {
  padding: 4vw 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4vw;
}

.a_propos h3 {
  text-align: center;
}

.a_propos__titre {
  text-align: center;
  margin: 0px;
  letter-spacing: 1px;
}

.a_propos__boite_image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.a_propos__boite_image__img {
  margin-top: 2vw;
  width: 100%;
}

.equipe__titre {
  text-align: center;
}

.equipe__boites {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18vw, 80%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18vw, 80%));
  gap: 2.5vw;
  margin: 3vw 6vw;
  position: relative;
  left: 8vw;
}

.equipe__boites__boite {
  width: 100%;
  background-color: white;
  display: block;
  width: 100%;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 3px 5px 13px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 3px 5px 13px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 3px 5px 13px 0px rgba(0, 0, 0, 0.26);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.equipe__boites__boite:hover {
  width: 105%;
}

.equipe__boites__boite__image {
  width: 100%;
  border-top-left-radius: 40px;
}

.equipe__boites__boite__titre {
  margin: 1vw;
  font-size: 5vw;
}

.equipe__boites__boite__phrase {
  margin: 1vw;
  font-size: 4.5vw;
  padding: 0;
}

.equipe__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.equipe__modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.equipe__modal__content__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1vw;
}

.equipe__modal__content__close:hover, .equipe__modal__content__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.equipe__modal__content__image {
  width: 100%;
}

.equipe__modal__content__titre {
  font-size: 4vw;
}

.equipe__modal__content__texte {
  font-size: 2.2vw;
}

.histoire {
  padding: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.histoire__titre {
  text-align: center;
}

.histoire__boite_image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 3vw;
}

.histoire__boite_image__img {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .equipe__boites {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(18vw, 48.5%))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18vw, 48.5%));
    gap: 2.5vw;
    margin: 3vw 6vw;
    position: inherit;
  }
  .equipe__boites__boite__titre {
    font-size: 3.5vw;
  }
  .equipe__boites__boite__phrase {
    font-size: 3vw;
  }
}

@media screen and (min-width: 768px) {
  .equipe__boites {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(18vw, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr));
    gap: 2.5vw;
    margin: 3vw 6vw;
    position: inherit;
  }
  .equipe__boites__boite__titre {
    font-size: 2vw;
  }
  .equipe__boites__boite__phrase {
    font-size: 1.5vw;
  }
  .equipe__modal__content {
    width: 30%;
  }
  .equipe__modal__content__titre {
    font-size: 2.5vw;
  }
  .equipe__modal__content__texte {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 1200px) {
  .a_propos h3 {
    font-size: 3vw;
  }
}
/*# sourceMappingURL=style_a_propos.css.map */