@use "partials/variables";
// make sure to change link

body {
    margin: 0px;
}

.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #F9FFF7; // use variables
    //border: 5px solid red;

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &__logo {
            width: 25vw;
            height: 40vh;
            img {
                width: 100%;
                z-index: 5;
            }
            h2 {
                margin: 0px;
            }
        }
        &__fleche {
            position: relative;
            top: 25vh;
            z-index: 5;
        }
    }
    

    &__forme_jaune {
        position: relative;
        left: 70vw;
        bottom: 115vh;
        //z-index: -1;
    }
    
    &__forme_brun {
        position: relative;
        left: 23vw;
        bottom: 140vh;
        //z-index: -1;
    }
    
    &__forme_rose {
        position: relative;
        right: 7vw;
        bottom: 200vh;
    }
    
    &__forme_vert {
        position: relative;
        left: -10vw;
        bottom: 335vh;
        z-index: 0;
    }
}