@use "partials/variables";

.navbar {
    background-color: variables.$backgroundMenu;

    &__lien_pages {
        color: variables.$background;
        text-decoration: none;
        text-transform: none;
        font-size: 2vw;
        &:hover {
            color: variables.$orange;
        }
    }

    &__logo {
        display: flex;
        max-width: 10vw;
        align-items: center;
        margin-left: 2.2vw;
    }

    &__pages {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            margin: 2.2vw 5vw;
            list-style-type: none;
        }

        ul {
            list-style-type: none;
        }
    }
}

.container__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}