@use "partials/variables";

body{
    font-size: 20px;
}

.histoire{
    padding: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;    

    &__titre{
        text-align: center;
    }

    &__auteur{
        text-align: center;
        font-size: 15px;
    }

    &__image{
       width: 100%;

        &__container{
            align-self: center;
            margin: 3vw;
        }
    }
}