@use "partials/variables";
// make sure to change link

body {
    margin: 0px;
    overflow-X: hidden;
}

.hero {
    width: 100vw;
    height: 100vh;
    //border: 5px solid red;
    position: relative;

    &__container{
        width: 100vw;
        height: 100vh;
        //border: 5px solid red;
        position: absolute;
    }

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &__fleche {
            position: relative;
            top: 20vh;
            z-index: 5;
        }

        &__logo {
            display: block;
            z-index: 2;
            width: 40vw;
            height: 40vh;

            img {
                width: 100%;
                z-index: 5;
            }

            h2 {
                margin: 0px;
                font-size: 4vh;
            }
        }
    }
    

    &__forme_jaune {
        background-image: url("../sources/01_medias/hero_jaune.png");
        right: 0vw;
        height: 100vh;
        width: 38vw;
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-size: 100% 101%;
    }
    
    &__forme_brun {
        background-image: url("../sources/01_medias/brun_hero.png");
        position: absolute;
        left: 11vw;
        width: 30vw;
        height: 23vh;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: 100% 101%;
    }
    
    &__forme_rose {
        background-image: url("../sources/01_medias/rose_hero.png");
        background-size: 100% 101%;
        position: absolute;
        left: 0vw;
        bottom: 2vh;
        z-index: 0;
        width: 23vw;
        height: 47vh;
        background-repeat: no-repeat;
    }
    
    &__forme_vert {
        background-image: url("../sources/01_medias/vert_hero.png");
        background-size: 100% 101%;
        width: 60vw;
        height: 46vh;
        position: absolute;
        left:0;
        top: 0;
        z-index: 0;
    
        background-repeat: no-repeat;
    }
}

// @media screen and (min-width: 768px) {
//     .hero {

//         &__content {

//             &__logo {

//                 h2 {
//                     font-size: 5vh;
//                 }
//             }
//         }

//         &__forme_jaune {
//             left: -70vw;
//             bottom: 115vh;
//         }
        
//         &__forme_brun {
//             left: -10vw;
//             bottom: 160vh;
//         }
        
//         &__forme_rose {
//             right: 40vw;
//             bottom: 240vh;
//         }
        
//         &__forme_vert {
//             left: -50vw;
//             bottom: 3200px;;
//         }
//     }
// }

// @media screen and (min-width: 1200px) {

//     .hero {

//         &__content {

//             &__logo {
//                 width: 40vw;

//                 h2 {
//                     font-size: 4vh;
//                 }
//             }
//         }
    
//         .hero__forme_jaune {
//             right: 0vw;
//             height: 100vh;
//             width: 45vw;
//             z-index: 100;
//         }
    
//         &__forme_brun {
//             background-image: url("../sources/01_medias/path3.png");
//             width: 70%;
//             left: 20vw;
//             bottom: -200px;
//             position: absolute;
//         }
    
//         &__forme_rose {
//             background-image: url("../sources/01_medias/path4.png");
//             left: -51vw;
//             bottom: -13vh;
//             position: absolute;
//         }
    
//         &__forme_vert {
//             background-image: url("../sources/01_medias/path1.png");
//             width: 80%;
//             left: -24vw;
//             top: -258px;
//             z-index: 100;
//             position: absolute;
//         }
//     }
// }