@use "partials/variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.equipe{

    &__titre{
        text-align: center;
    }

    &__boites {
        // list-style-type: none;
        display: grid;
        grid-template-columns:  repeat(auto-fit, minmax(18vw, 1fr)); 
        gap: 2.5vw;
        margin: 3vw 6vw;
    
        &__boite {
            width: 100%; 
            background-color: white;
                display: block;
                width: 100%;
                border-bottom-right-radius: 40px;
                border-top-left-radius: 40px;
                box-shadow: 3px 5px 13px 0px rgba(0,0,0,0.26);
                    -webkit-box-shadow: 3px 5px 13px 0px rgba(0,0,0,0.26);
                    -moz-box-shadow: 3px 5px 13px 0px rgba(0,0,0,0.26);
    
            &__image {
                width: 100%;
                border-top-left-radius: 40px;
            }

        
            &__titre {
                margin: 1vw; 
                font-size: 165%;
            }

            &__phrase {
                margin: 1vw 1vw 0.1vw 0.5vw;
                margin-left: 1vw;
                margin-right: 1vw;
                padding: 0;
            }      
        }
    }
}