@use "partials/variables";

* {
    box-sizing: border-box;
  }

html{
    height: 100vh;
}

.content{
    margin: 10px;

    &-form{
        background-color: #ecf6e880;
        padding: 20px;
        border-radius: 20px;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat( 2, minmax(250px, 1fr) );
        gap: 2%;
        margin: 15px;

        &__btn {
            background-color: #F37364;
            width: 100%;
            padding: 1vh;
            border-radius: 40px;
            border: none;
            color: white;
        }
    }

    &__map{
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & p{
        margin: 0 0 10px 0;
    }

    & .responsive-iframe {
        position: relative;
        width: 100%;
        height: 100%;
      }
}


.content-form{
    // flex-direction: cn;
    // align-items: flex-end;
}

.telephone{
    display: grid;
    // grid-template-columns: repeat(auto-fit, 150px);

    // display: flex;
    // // justify-content: flex-end;
    // align-items: flex-end;
}

input[type=text] {
    border: none;
    height: 2.5vw;
    width: fill;
    box-shadow: 2px 2px 0px rgb(201, 201, 201);
    margin-top: 8px;
    margin-bottom: 8px;
    margin: 8px 8px 10px 0px;
    border-radius: 5px;
    text-indent: 10px;
}

#fname{
    max-width: 40%;
}

#lname{
    width: 56%;
}

  @media screen and ( max-width: 1024px ) {
    input[type=text] {
        height: 3.5vw;
    }

    #fname{
        max-width: 100%;
    }
    
    #lname{
        max-width: 100%;
    }
    
    .boite {
        &__container {
            grid-template-columns: 2;
        }

        &__holder {
            width: 40%;
        }
        background-color: #F37364;
    }
}

@media screen and ( min-width: 1200px ) {
    .boite {
        width: 20vw;
    }
}