@use "partials/variables";
// make sure to change link

body {
    margin: 0px;
}

.hero {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #F9FFF7; // use variables
    //border: 5px solid red;

    .hero__logo__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .hero__logo--logo {
            width: 25vw;
            height: 40vh;
            img {
                width: 100%;
            }
            h2 {
                margin: 0px;
            }
        }
    }
    

    .hero__forme--jaune {
        position: relative;
        left: 70vw;
        bottom: 115vh;
        //z-index: -1;
    }
    
    .hero__forme--brun {
        position: relative;
        left: 23vw;
        bottom: 140vh;
        //z-index: -1;
    }
    
    .hero__forme--rose {
        position: relative;
        right: 7vw;
        bottom: 200vh;
    }
    
    .hero__forme--vert {
        position: relative;
        left: -10vw;
        bottom: 335vh;
    }
    
    
}