@use "partials/variables";
body {
  font-size: 20px;
}

.produit {
  padding: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.produit__titre {
  margin-bottom: 0px;
}

.produit__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.produit__image__survol {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.produit__image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.produit__image__container img {
  width: 100%;
}

.produit__image__ui {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.produit__bouton_ajouter {
  background-color: #f37364;
  border-radius: 40px;
  border: none;
  text-align: center;
  color: white;
  width: 50%;
  font-size: 18px;
  padding: 2px;
}

.produit__nombre_quantite {
  background-color: #F9FFF7;
  width: 25%;
  padding: 2px;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid black;
}

.produit__details {
  margin-top: 2vh;
}

.produit__details h4 {
  margin-bottom: 5px;
}

.produit__description {
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .produit {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .produit__image {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .produit__image__resume {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .produit__image__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 40vw;
    height: 40vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .produit__image__survol {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 40vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .produit__image__ui {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 5px;
  }
  .produit__image__ui h4, .produit__image__ui form {
    width: 40vw;
  }
  .produit__image__ui h4 {
    margin-top: 0px;
  }
  .produit__titre {
    margin-top: 0px;
  }
  .produit__prix {
    font-size: 5vw;
  }
  .produit__details h4 {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .produit__image {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "survol survol content" "ui ui content";
  }
  .produit__image__content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: content;
  }
  .produit__image__survol {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: survol;
  }
  .produit__image__ui {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: ui;
  }
}
/*# sourceMappingURL=style_produit.css.map */