@use "partials/variables";

.a_propos{
    padding: 4vw 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;    

    &__titre{
        text-align: center;
    }

    &__auteur{
        text-align: center;
        font-size: 15px;
    }

    &__image{
       width: 100%;

        &_container{
            align-self: center;
        }
    }
}