@use "partials/variables";

@font-face {
    src: url("../sources/02_font/Mermaid1001.woff2") format("woff2");
    font-family: "mermaid";
}

@font-face {
    src: url("../sources/02_font/made_gentle.woff2") format("woff2");
    font-family: "gentle";
}

@font-face {
    src: url("../sources/02_font/Roboto-Regular.woff2") format("woff2");
    font-family: "roboto";
}

body {
    background-color: variables.$background;
    font-family: 'roboto';
    font-size: 5vw;
    width: 100%;
    margin: 0px;
}

.menu {
    background-color: variables.$menu;
    width: 100%;
    height: 100px;
    position: sticky-top;
}

h1 {
    font-family: "gentle";
    font-size: 10vw;
}

h2, h3, h4, h5 {
    font-family: "gentle";
    font-size: 7vw;
    letter-spacing: 2px;
}

.link {
    color: variables.$orange;
}

@media screen and ( min-width: 768px ) {
    body {
        font-size: 3vw;
    }
}

@media screen and ( min-width: 1200px ) {
    body {
        font-size: 1.4vw;
    }

    h1, h2, h3, h4, h5 {
        font-family: "gentle";
        letter-spacing: 3px;
        font-size: 5vw;
    }
}

// @media screen and ( min-width: 768px ) {
//     * {
        
//     }
// }

// @media screen and ( min-width: 1200px ) {
//     * {

//     }
// }