@use "partials/variables";

.a_propos {
    padding: 4vw 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 4vw;
    
    h3 {
        text-align: center;
    }

    &__titre {
        text-align: center;
        margin: 0px;
        letter-spacing: 1px;
    }

    &__image {
       width: 100%;

        &_container {
            align-self: center;
        }
    }
}

@media screen and ( min-width: 768px ) {
    .a_propos {
        margin-top: 0px;

        &__titre {
            font-size: 5vw;
        }

        h3 {
            font-size: 4vw;
        }
    }
}